@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --color-primary: #5bb0fe; 
    --color-primaryLight: #f8fcff;
}

/* 'status-open': '#4CAF50', // green-500
        'status-in-progress': '#FFC107', // amber-500
        'status-closed': '#9E9E9E', // gray-500
        'text-primary': '#1F2937', // gray-800
        'text-secondary': '#6B7280', // gray-500
        'bg-primary': '#F5F5F5', // gray-100
        'bg-card': '#FFFFFF', // white
        'accent-circle': '#4CAF50/20', // green-500/20
        'error': '#EF4444', // red-500
        'success': '#10B981', // emerald-500
        'button-hover': '#3D8B40', // green-600
        'footer-bg': '#1F2937', // gray-800
        'border-light': '#E5E7EB', // gray-200
      }, */